{% extends "layout.html" %}

{% block content %}
<article>
    <p>
        Welcome to Alastor, the place to organise your V:tES tournaments.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum aliquet tempor.
        Quisque fringilla felis eu mi vehicula, in vulputate est fermentum. Proin eget mauris varius,
        suscipit metus non, ornare orci. Aenean tortor felis, iaculis sit amet orci ut, pellentesque semper ex.
        Suspendisse consectetur sem justo, id laoreet odio imperdiet et. Suspendisse tempor ipsum quam,
        non pretium magna dapibus at. Maecenas eget ligula sed libero porttitor pharetra.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <p>
        Proin ultrices molestie lectus vitae elementum. Vestibulum tristique, nulla ac maximus mollis,
        diam eros sollicitudin elit, eu interdum magna sem ac risus. Mauris bibendum vel mauris et mollis.
        Morbi gravida, nisi eget volutpat scelerisque, purus lorem porttitor tellus,
        ut convallis turpis ante vitae risus. Aliquam vel nisi nunc. Nullam tincidunt eros erat,
        ut dapibus est feugiat vestibulum. Mauris malesuada malesuada nisi vel sollicitudin.
    </p>
</article>
{% endblock %}
